<div class="d-flex align-items-center gap-3 mb-3">
    <h2 class="mb-0 text-uppercase fs-25 poppins-font text-dark">Skills</h2>
    <div class="line"></div>
</div>
<h2 class="fs-20 poppins-font text-orange">Technologies I've been working with recently</h2>
<div class="my-3">
    <div class="row">
        <div *ngFor="let skill of skills" class="col-6 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
            <div class="skill-card mb-3">
                <img [src]="skill.src" [alt]="skill.name" loading="lazy">
                <h4 class="fs-14 fw-bold d-flex justify-content-center align-items-center logo-name" [ngStyle]="{'background-color': skill.bgColor, 'color': skill.textColor, }">{{skill.name}}</h4>
            </div>
        </div>
    </div>
    <h2 class="fs-20 poppins-font text-orange mt-5">Interpersonal Skills</h2>
    <div class="row pt-2">
        <div class="col-12 col-md-6 mb-3">
            <div class="d-flex align-items-center gap-2 p-3 bg-light-2 border rounded-10 h-100">
                <i class="ri-message-2-line text-sky fs-24"></i>
                <h4 class="fs-16 text-dark mb-0 fw-semibold">Communicate with credibility and confidence</h4>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="d-flex align-items-center gap-2 p-3 bg-light-2 border rounded-10 h-100">
                <i class="ri-team-line text-sky fs-24"></i>
                <h4 class="fs-16 text-dark mb-0 fw-semibold">Conduct meetings that achieve results</h4>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="d-flex align-items-center gap-2 p-3 bg-light-2 border rounded-10 h-100">
                <i class="ri-lightbulb-line text-sky fs-24"></i>
                <h4 class="fs-16 text-dark mb-0 fw-semibold">Show eagerness and capacity to learn</h4>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="d-flex align-items-center gap-2 p-3 bg-light-2 border rounded-10 h-100">
                <i class="ri-history-line text-sky fs-24"></i>
                <h4 class="fs-16 text-dark mb-0 fw-semibold">Respect time and deadlines</h4>
            </div>
        </div>
    </div>
</div>