<div class="d-flex align-items-center justify-content-between gap-3 mb-3">
    <h2 class="mb-0 text-uppercase fs-25 poppins-font text-dark">About</h2>
    <div class="line"></div>
</div>
<h2 class="fs-20 poppins-font text-orange">Welcome to my portfolio!</h2>
<div>
    <div class="mb-0 fs-16 text-dark mb-4">
        I'm Mohamed Mahrous, an experienced <span class="fw-bold">Software Engineer II</span> with over <span class="fw-bold text-sky">3 years</span> of professional expertise in building scalable, high-performance fintech and enterprise-grade applications.
        <br>
        I specialize in delivering secure and robust full-stack solutions, working across web and blockchain layers to engineering seamless user experiences and reliable financial systems with real-time processing and multi-chain support.
        <br> <br>

        My key qualifications include:
        <ul>
            <li class="fw-bold"><i class="ri-checkbox-circle-line text-sky"></i> Advanced expertise in Angular, React, and Modern JavaScript (ES6+).</li>
            <li class="fw-bold"><i class="ri-checkbox-circle-line text-sky"></i> Specialist in Fintech platforms, Forex CRMs, and Crypto Payment Gateways.</li>
            <li class="fw-bold"><i class="ri-checkbox-circle-line text-sky"></i> Bachelor's in Computers and Information Science (Ain-Shams University).</li>
        </ul>
    </div>
    <h2 class="fs-20 poppins-font text-orange">What I do!</h2>
    <div class="row">
        <div class="col-12 col-md-6 p-2" *ngFor="let service of services">
            <div class="service-card">
                <img [src]="service.icon" alt="service icon" class="icon-img mb-2" loading="lazy">
                <h4 class="fs-16 fw-bold text-sky">{{service.name}}</h4>
                <h6 class="fs-12 fw-semibold text-red">{{service.caption}}</h6>
                <p class="fs-12 text-dark">{{service.description}}</p>
            </div>
        </div>
    </div>
</div>