<div class="d-flex align-items-center gap-3 mb-3">
    <h2 class="mb-0 text-uppercase fs-25 poppins-font text-dark">Projects</h2>
    <div class="line"></div>
</div>
<h2 class="fs-20 poppins-font text-orange">Things I've built so far</h2>
<div class="my-3">
    <div class="project-card mb-2" *ngFor="let project of projects" [ngClass]="{'no-img': !project.src}">
        <img *ngIf="project.src" [src]="project.src" [alt]="project.name" loading="lazy">
        <div class="text">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0 fs-22 name">{{project.name}}</h4>
                <div class="links d-flex align-items-center gap-1 gap-md-3">
                    <a *ngIf="project.codeUrl" target="_blank" class="button-link" [href]="project.codeUrl">Github</a>
                    <a *ngIf="project.demoUrl" target="_blank" class="button-link" [href]="project.demoUrl">Demo</a>
                </div>
            </div>
            <p *ngIf="project.description" class="fs-14 text-white mb-3" style="font-weight: 300; line-height: 1.6;">
                {{project.description}}
            </p>
            <div class="d-flex justify-content-start align-items-center flex-wrap" style="gap: 5px;">
                <span class="tech-used m-0" *ngFor="let item of project.techUsed">{{item}}</span>
            </div>
        </div>
    </div>
</div>